*{
    margin: 0 auto;
    background-color: #1f1e1b;
}
.main-content{
    background: linear-gradient(180deg,#1f1e1b,rgb(33, 189, 9));
}
.main-content-block{
    display: block;
    margin-top: 80px;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    border: 2px solid rgb(26, 133, 9);
}
.main-content-block-info{
    width: 50%;
    height: 10%;
    display: inline-flex;
    margin-left: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 2px solid green;
    border-radius: 20px;
}
.main-content-block-info a{

}
.main-content-block-info p{

}
.main-content-block-title{
    width: 100%;
    height: 10%;
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border: none;
    color: rgb(31, 255, 0);
    font-size: 30px;
}
.main-content-block-info img{
    border-radius: 20px;
    width: 50px;
}