.head{
    width: 100%;
    height: 70px;
    background-color: #1f1e1b;
    border-bottom: 2px solid;
    border-color: #ffb61e;
}
.head-links{
    display: flex;
    height: 100%;
    width: 300px;
    margin-right: 50px;
}
a{
    color: #ffb61e;
    text-decoration: none;
}