.head{
    width: 100%;
    height: 70px;
    background-color: #1f1e1b;
    border-bottom: 2px solid;
    border-color: #ffb61e;
}
.head-links {
    display: inline;
    height: 50px;
    width: 350px;
}
a{
    width: 75px;
    margin-left: 80px;
    margin-right: 80px;
    color: #ffb61e;
    text-decoration: none;
}