.head{
    width: 100%;
    height: 70px;
    background-color: #1f1e1b;
    border-bottom: 2px solid;
    border-color: #ffb61e;
}
.head-links {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.head-links-div{
    width: 100px;
    height: 20px;
}
.head-links-link{
    color: #ffb61e;
    font-family: sans-serif;
    text-decoration: none;
}