*{
    margin: 0 auto;
    height: 100%;
    font-family: sans-serif;
}
.main{
    display: flex;
    background: linear-gradient(90deg, #1f1e1b, rgb(189, 126, 9));
}
.portfolio-photo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.portfolio-text{
    width: 50%;
    height: 100%;
    color: #ffb61e;
}
.portfolio-text-block{
    display: block;
    width: 80%;
    margin-top: 45%;
    margin-bottom: 45%;
    height: 100px;
    text-align: center;
}
.portfolio-text-block-contacts{
    color: #ffb61e;
    height: 40px;
    font-size: 30px;
}
.portfolio-text-block-description{
    color: gray;
    font-size: 20px;
    text-align: center;
}
.portfolio-photo img{
    width: 400px;
    height: 400px;
    margin-bottom: 90px;
}