*{
    margin: 0 auto;
    height: 100%;
    font-family: sans-serif;
}
.main{
    display: flex;
    background-size: 200% 200%;
    background: linear-gradient(90deg, #1f1e1b, rgb(33, 189, 9));
}
.portfolio-photo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.portfolio-text{
    width: 50%;
    height: 100%;
    color: rgb(33, 189, 9);
}
.portfolio-text-block{
    display: block;
    width: 80%;
    margin-top: 45%;
    margin-bottom: 45%;
    height: 100px;
    text-align: center;
}
.portfolio-text-block-contacts{
    color: rgb(33, 189, 9);
    height: 40px;
    font-size: 30px;
}
.portfolio-text-block-description{
    color: gray;
    font-size: 20px;
    text-align: center;
}
.portfolio-photo img{
    width: 400px;
    height: 400px;
    margin-bottom: 90px;
}
.active{
    animation: anim 2s;
    animation-fill-mode: forwards;
}
@keyframes anim {
    100%{
        box-shadow: -2000px -50px 150px 0 rgba(217, 34, 34, 0.51) inset;
    }
}
.icon-back-to-main{
    position: fixed;
    display: flex;
    justify-items: center;
    align-items: center;
    bottom: 10px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: gray;
    border-radius: 50%;
}
.icon-back-to-main img{
    width: 40px;
    height: 40px;
    background: none;
}
.icon-back-to-main:hover{
    cursor: pointer;
}
.main-content{
    background: linear-gradient(180deg,#1f1e1b,rgb(33, 189, 9));
}