body{
    background-color: #1f1e1b;
}
.section-icons{
    position: fixed;
    display: block;
    justify-items: center;
    align-content: space-around;
    width: 80px;
    height: 640px;
    top: 100px;
    left: 30px;
    background-color: gray;
}
.section-icons img{
    width: 80px;
    height: 80px;
}
.project-content-block{
    display: block;
    margin-top: 80px;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background-color: #1f1e1b;
    border: 2px solid rgb(26, 133, 9);
}
.project-content-block-inline{
    display: flex;
    flex-direction: row;
}